<ion-modal-view>
  <ion-content>
    <div class="form-login">
        <div class="row responsive-xs">
          <div class="col div-head-login">
              <label>"The absolute solution for bakery."</label>
          </div>
        </div>
        <div class="row responsive-lg">
          <form>
                  <div class="list list-inset2 insert-login">
                    <label class="item item-input">
                      <input type="text" placeholder="ชื่อ">
                    </label>
                  </div>
                  <div class="list list-inset2 insert-login">
                      <label class="item item-input">
                        <input type="text" placeholder="รหัสผ่าน">
                      </label>
                  </div>
                  <div class="list list-inset2 insert-login">
                        <button class="button" ng-click="login()">
                          <label>เข้าใช้งาน</label>
                        </button>
                  </div>
          </form>
        </div>
        <div class="row responsive-lg">
          <div class="list list-inset2 label-login">
            <label>ลืมรหัสผ่าน ?</label>
          </div>
          <div class="list list-inset2 label-login">
            <hr class="style-line">
          </div>
        </div>
        <div class="row responsive-lg">
          <div class="list list-inset2 face-login">
            <button class="button button-outline button-light" ng-click="loginFacebook()">
              <label>ล็อกอินด้วยเฟสบุ๊ค</label>
            </button>
          </div>
        </div>
    </div>
  </ion-content>
</ion-modal-view>
