<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          <label>เมนูหลัก</label>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content id="menu-page">
      <ion-list>
        <div class="header-menu">
          <div class="item item-menu item-avatar">
                <img src="../img/img-01.png">
                <label>Sompong Himalee</label>
                <p>ทะเบียนรถ : d4 4567</p>
          </div>
        </div>
      </ion-list>
      <ion-list>
        <div class="second-menu" align="center">
          <div class="second-menu-item"><br />
            <p>รวมค่าคอมมิชชั่นที่ได้เดือนนี้</p>
            <p><strong>3400 บาท</strong></p>
          </div>
        </div>
      </ion-list>
      <ion-list>
        <ion-item menu-close href="#/app/news">
          <div class="group-img-menu">
            <img class="img-menu" src="../img/img-04.png"/>
            <label>ข่าวสาร</label>
          </div>
        </ion-item>
        <ion-item menu-close href="#/app/map">
          <div class="group-img-menu">
            <img class="img-menu" src="../img/img-02.png"/>
            <label>โปรโมชั่น</label>
          </div>
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <div class="group-img-menu">
              <img class="img-menu" src="../img/img-03.png"/>
              <label>ค่าคอมมิชชั่น</label>
          </div>
        </ion-item>
        <ion-item menu-close href="#/app/browse">
            <div class="group-img-menu">
              <img class="img-menu" src="../img/img-05.png"/>
              <label>ศูนย์ของฝาก</label>
            </div>
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <div class="group-img-menu">
            <img class="img-menu" src="../img/img-06.png"/>
            <label>กล่องข้อความ</label>
          </div>
        </ion-item>
        <ion-item menu-close>
          <div class="group-img-menu">
            <img class="img-menu" src="../img/img-07.png"/>
            <label>ติดต่อศรีฟ้า</label>
          </div>
        </ion-item>
        <ion-item menu-close>
          <div class="group-img-menu">
            <img class="img-menu" src="../img/img-08.png"/>
            <label>ออกจากระบบ</label>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
