<ion-view view-title="หน้าแรก">
    <ion-content id="list_news-page">
        <div class="herder-list" align="center">
            <div class="header-menu">
                <div class="row">
                    <div class="col col-50" align="left">
                        <button class="button-outline btn-header-menu" menu-toggle="left">
                            <img class="img-list" src="../img/img-12.png"/>
                            <label>เมนูหลัก</label>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="herder-list" align="center">
            <div class="herder-list-content">
                <div class="row">
                    <div class="col col-50" align="left">
                        <img class="img-list" src="../img/img-09.png"/>
                        <label>ข่าวสาร</label>
                    </div>
                    <div class="col" align="right">
                        <label>ดูทั้งหมด</label>
                        <img class="img-list" src="../img/img-10.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="herder-list" align="center">
            <div class="row content-list-item">
                <div class="col col-50" align="center">
                    <img class="img-item" src="../img/img-11.png"/>
                </div>
                <div class="col" align="left">
                    <label>25-29 พฤษภาคมนี้ พบกับโฉมใหม่ของทองม้วน "สุธีรา" ที่ชาเลนเจอร์ฮอลล์2 เมืองธองธานี</label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
