$font-color: #000000;
$bg-color: #FFFFFF;
$primary-color: #ffd800; // Background
$primary-diff-color: #32252f; // Font
$secondary-color: #202020;
$secondary-diff-color: #FFFFFF;

$btn-color: transparent;
$btn-border-color: #FFFFFF;
$btn-font-color: #FFFFFF;

// Dark background with light font
$font-color-2: #FFFFFF;
$bg-color-2: #000000;