$font-color: #008faf;
$bg-color: #FFFFFF;

$primary-diff-color: #FFFFFF; // Font
$secondary-color: #000000;
$secondary-diff-color: #ffc423;

$btn-color: transparent;
$btn-border-color: #FFFFFF;
$btn-font-color: #FFFFFF;

// Dark background with light font
$font-color-2: #FFFFFF;






$background-colour: #008faf;
$primary-color: #FFFFFF; // Background
$bg-color-2: #ffc423;